<div class="row">
  <div class="col-xs-3 col-xs-offset-1">
    <%= image_tag 'tweety.gif', class: "img-responsive" %>


    <%= render partial: 'new_tweet_form' %>

  </div>

  <div class="col-xs-4">
    <h2>Your Timeline</h2>

    <% @tweets.each do |tweet| %>
      <div class="media">
        <div class="media-left">
          <a href="#"><img class="media-object" src="<%=tweet.avatar_url%>"></a>
        </div>
        <div class="media-body">
          <%= link_to "#{tweet.username}", "http://tweety.com/#{tweet.username}" %> <%= tweet.content %>
        </div>
      </div>
    <% end %>
  </div>
</div>
